.scroll-content::-webkit-scrollbar {
  width: 8px;
  height: 5px;

}

.scroll-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.scroll-content::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Example hover color */
  transition: all 0.3s ease;
}
